<h1>Edit Auditorium</h1>

	<%= render 'form' %>


<%= link_to 'Show', @auditorium %>
<%= link_to 'Delete', @auditorium, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', user_root_path %>