html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	background-color: #d4d4d4; 	
}

a	{
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #000;

}

a:hover {
	color: #777;
}

p {
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	padding: 1em;
}

#topnav {
	width: 100%
}

#movie_showcase {
	width: 100%
}

.movie_poster{
	display: inline-block;
	font-size: 0;
	width: 25%;
}

.poster_image {
	width: 100%;
	background-color: purple;
}

.movie_poster:after {
	display: inline-block;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 150%);
	margin-top: -500px;
	height: 500px;
	width: 100%;
	content: '';
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.movie_poster:hover:after {
	opacity: 0;
}

#logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 26px;
	text-transform: uppercase;
	margin-left: 30px;
}

#logo:hover {
	color: #579999;
}

.sold_out {
    text-decoration: line-through;
}

.hidden {
	display: none;
}