html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	background-color: #d4d4d4; 	
}

a	{
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #000;

}

a:hover {
	color: #777;
}

p {
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	padding: 1em;
}

#topnav {
	width: 100%
}

#movie_showcase {
	width: 100%
}

.movie_poster{
	display: inline-block;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.poster_image {
	vertical-align: middle;
	width: 100%;
}

.movie_poster > a:after, #movie_cover_container:after {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 130%);
	margin-top: -25vw;
	height: 25vw;
	width: 100%;
	content: '';
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	pointer-events: none;
}

.movie_poster > a:hover:after, #movie_cover_container:hover:after {
	opacity: 0;
}

.poster_description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 1em 1em 1em;
	text-align: left;
	color: #fff;
	z-index: 100;
	font-size: 2em;
}

.description_field{
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.wrapper > .description_field {
    font-size: .5em;
}

.playing, .length_rating {
	font-size: .4em;
	letter-spacing: .15em;
}
.playing {
	color: #6cc1c1;
}

.wrapper > .description_field {

}

.length_rating {
	color: #fff;
}

.movie_title {
	font-weight: 300;
	font-size: .8em;
	color: #fff;
}

.movie_title:hover {
	color: #fff;
}

.get_tickets {
	color: #fff;
	font-size: .44em;
	letter-spacing: .12em;
	background: 0;
	border: 2px solid #fff;
	padding: .9em;
	margin-top: .75em;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.get_tickets:hover {
	border: 2px solid #6cc1c1;
	color: #6cc1c1;
}

.grow { transition: all .75s ease-in-out; }
.grow:hover { transform: scale(1.05); }

#logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 26px;
	text-transform: uppercase;
	margin-left: 30px;
}

#logo:hover {
	color: #579999;
}

.sold_out {
    text-decoration: line-through;
}

.hidden {
	display: none;
}

#movie_cover {
	width: 100%;
}

#movie_cover_container {
	width: 100%;
	overflow: hidden;
}

#gallery{
	text-align: center;
	background-color: #efefef;
	width: 100%;
	margin: .75em auto 0 auto;
	padding-top: 1.25em;
}

#now_playing_content{
	display: inline-block;
	padding-bottom: 1.25em;
}

#now_playing_header, #synopsis_header {
	margin-bottom: 1.25em;
}

#synopsis_header {
	margin-top: 1em;
}

#now_playing_header > span, #synopsis_header > span {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.75em;
	letter-spacing: .02em;
}

.np_date_select{
	display: inline-block;
	height: 6.5em;
    width: 6.5em;
    background-color: #fff;
}

.np_date_select:hover {
    height: 6em;
	border-bottom: .5em solid #6cc1c1;	
}

.selected {
    background-color: #0c1917;
    height: 6em;
	border-bottom: .5em solid #6cc1c1;
}

.weekday, .month, .day {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}	

.month, .day {
	color: #0c1917;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 1.275em;
}

.weekday {
	margin: .85em 0 .5em 0;
	color: #333;
	font-weight: 300;
	font-size: .9em;
}

.selected > .month, .selected > .day {
	color: #fff;
}

.selected > .weekday {
	color: #6cc1c1;
}

.showing_day {
	padding: 2em 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: #fff;
}

.movie_showtimes {
	text-align: left;
	margin: 0 2.25em;
}

.movie_showtimes:not(:last-child){
	padding-bottom: 1.5em;
	border-bottom: 1px solid black;
}

.movie_showtimes:not(:first-child){
	padding-top: 1.5em;
}

.np_movie_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: .6em;
}

.each_showtime {
	display: inline-block;
	margin-right: 2em;
}

#movie_header {
	position: relative;
	width: 100%;
}

#movie_info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 1em 3vw 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.75em;
	text-transform: uppercase;
	color: #FFF;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

#description {
	text-align: left;
	max-width: 668px;
	margin: 0 auto 2.25em auto;
	padding: 4em 2em;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

@media screen and (max-width:800px){

	#logo {
		margin-left: 0;
	}

	.movie_poster > a::after {
	    margin-top: -50vw;
	    height: 50vw;
	}

	#now_playing_header > span, #synopsis_header > span {
		font-size: 1.25em;
	}

	.np_date_select {
		height: 13vw;
		width: 13vw;
	}

	.selected, .np_date_select:hover {
		height: 11.75vw;
		border-bottom: 1.25vw solid #6cc1c1;
	}

	.month, .day {
		font-size: 2.7vw;
	}

	.weekday {
		font-size: 2.1vw;
		margin: 1vw 0 .5vw 0;
	}

	.movie_showtimes:not(:first-child){
		padding-top: 1em;
	}

	.movie_showtimes:not(:last-child){
		padding-bottom: 1em;
	}

	.np_movie_title {
	    font-size: 1.25em;
	}

	.each_showtime {
		margin-right: 1em;
	}

	#description {
		margin: 0 1em 1.5em 1em;
	}

}