<header>
	<nav id="topnav">
		<%= link_to(root_path, :id => "logo") do %>
			<span>Theatr</span>
		<% end %>
		<% if user_signed_in? %>
			<div>
		    	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
			</div>
		<% end %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</nav>
</header>